<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello KCD Mumbai</title>
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
</head>

<body style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size:1.3rem; color: white; background-color: #0F273E">
      
    <header>
        <h1>Welcome to KCD MUMBAI!!</h1>
        <p>
            How has the conference been so far? 
        </p>
    </header>
    <main>
        <form action="/hello" method="post">
                Enter Name: <input type="text" name="name">  <br />
                
                <input type="submit" name= "form" value="Submit" />
            </form>
        
        <br>
    </main>
<p style="font-family: 'Poppins', sans-serif; font-weight: bold; line-height: 2rem; font-size:1.3rem; color: white; text-align: center; padding: 15px; background-color: #1B2731">Website : hashnode.com/@saloninarang<br>Twitter : @I_saloni92<br>I am : Saloni Narang
</p>
</body>
